<% id = "%05d" % issue_id %>

:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

```
Markdown:
[![DOI](<%= site_host %>/papers/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>/status.svg)](https://doi.org/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>)

HTML:
<a style="border-width:0" href="https://doi.org/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>">
  <img src="<%= site_host %>/papers/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>/status.svg" alt="DOI badge" >
</a>

reStructuredText:
.. image:: <%= site_host %>/papers/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>/status.svg
   :target: https://doi.org/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>
```
This is how it will look in your documentation:

[![DOI](<%= site_host %>/papers/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>/status.svg)](https://doi.org/<%= doi_prefix %>/<%= doi_journal %>.<%= id %>)

**We need your help!**

<%= site_name %> is a community-run journal and relies upon volunteer effort.
If you'd like to support us please consider volunteering to review for us sometime in the future.
You can add your name to the reviewer list here: <%= reviewers %>